p {
  margin-top: 20px;
  margin-bottom: 10px;
}

.project-info {
  line-height: 170%;
}

.link-github {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: none;
  font-weight: bold;
  color: black;
}

.post-entry {
  padding-top: 15px;
  padding-bottom: 15px;
}

.post-preview .post-subtitle {
  font-size: 26px;
  font-weight: 600;
}

/* przeciwdziała display:flex z body{} */
.container {
  max-width: 100%;
}

pre {
  position: relative;
}

/* ---------------------- */

.about-me-logo {
  display: inline;
  width: 30px;
  height: 30px;
}

.pager.blog-pager {
  margin-top: 60px;
  margin-bottom: 10px;
}

/* ////////////////////////////////////////// /*/

/*GOOGLOWE STYLE*/
/* Use a different font family for search results */
.gs-title, .gs-snippet {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.gs-result .gs-title {
  height: auto;
  font-size: 18px;

}

/* Add a border between individual search results */
.gs-webResult {
  border: 1px solid #eee;
  padding: 1em;
}

/* Do no display the count of search results */
.gsc-result-info {
  display: none;
}

/* Hide the Google branding in search results */
.gcsc-branding {
  display: none;
}

/* Hide the thumbnail images in search results */
.gsc-thumbnail {
  display: none;
}

/* Hide the snippets in Google search results */
.gs-snippet {
  display: none;
}

/* Change the font size of the title of search results */
.gs-title a {
  font-size: 16px;
}

/* Change the font size of snippets inside search results */
.gs-snippet {
  /*font-size: 14px;*/
}

/* Google Custom Search highlights matching words in bold, toggle that */
.gs-title b, .gs-snippet b {
  /*font-weight: normal;*/
}

/* Do no display the URL of web pages in search results */
.gsc-url-top, .gsc-url-bottom {
  /*display: none;*/
  font-size: 12px;
}

/* Highlight the pagination buttons at the bottom of search results */
.gsc-cursor-page {
  font-size: 1.5em;
  padding: 4px 8px;
  border: 2px solid #ccc;
}

.gsc-table-result {
  display: none;
}